.number {
  margin-left: 0.999vh;
  font-size: 100%;
  border: transparent;
  border-radius: 5px;
  font-size: 20px;
  padding-left: 1vh;
  cursor: pointer;
  background-color: #3737376f;
  color: white;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: -5px;
}

.number2 {
  margin-left: 0.999vh;
  font-size: 100%;
  border: transparent;
  border-radius: 5px;
  font-size: 20px;
  padding-left: 1vh;
  cursor: pointer;
  background-color: rgba(220, 220, 220, 0.508);
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

.number2:hover {
  background-color: #3737376f;
  transition: background-color 0.7s;
  color: white;
}

.pag {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2%;
  padding: 1vh;
}

.containerNav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
